@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
body{
    margin: 0;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/* En-tête */
.header{
    display: flex;
    max-width: 1340px;
    margin: auto;
}
.nav-items{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.logo{
    height: 100px;
    line-height: 125px;
}
.logo img{
    width: 90px;
}

.navbar{
    width: 300px;
    height: 100px;
    line-height: 100px;
}
.navbar ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1f1f1f;
}
.navbar li:hover a{
    color: #0065fc;
}
.navbar li{
    list-style: none;
    width: 300px;
    text-align: center;
}
.navbar li:hover{
    transition: .2s;
    border-top: solid #0065fc 2px;
}

.subscribe {
    width: 135px;
    height: 100px;
    line-height: 100px;
    display: flex;
}
.subscribe a{
    width: 135px;
    text-align: center;
    color: #0065fc;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
/* En-tête */

/* Recherche */
.search-titre h2{
    margin-top: 0;
}

.input{
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
}
.map-logo{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}
.input-text{
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.input-text::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-left: 10px;
}
.submit{
    width: 135px;
    border: none;
    border-radius: 0 15px 15px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #0065fc;
}
.submit:hover{
    background-color: #0154cf;
    cursor: pointer;
    transition: 0.3s;
}
.submit i{
    display: none;
}

.filtres{
    display: flex;
    align-items: center;
}
.filtre-titre{
    padding-left: 10px;
    padding-right: 15px;
}
.items{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 700px;
}
.filtre-item{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 50px;
    border: #d9d9d9 solid 2px;
}
.filtre-item-logo{
    background-color: #deebff;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3px;
}
.filtre-item-logo i{
    color: #0065fc;
}
.filtre-item:hover .filtre-item-logo{
    border: #0065fc solid 3px;
    transition: 0.2s;
    cursor: pointer;
}
.filtre-item-titre{
    margin: auto;
}
.filtre-item-titre h3{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.item-economique{
    width: 155px;
}
.item-familial{
    width: 125px;
}
.logo-familial {
    width: 52px;
}
.item-romantique{
    width: 145px;
}
.item-animaux{
    width: 190px;
}

.info{
    display: flex;
    height: 40px;
    line-height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo-info{
    width: 25px;
    height: 25px;
    border: #dbdbdb solid 1px;
    border-radius: 50%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-info i{
    color: #0065fc;
    font-size: 12px;
}
.info p{
    margin: 0;
    padding-left: 10px;
}

/* Recherche */

/* hebergement */

.hebergement{
    padding-top: 15px;
    padding-bottom: 50px;
    max-width: 1340px;
    margin: auto;
}

.hebergement-zone{
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 20px;
    padding: 30px;
}
.hebergement-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.hebergement-card article{
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hebergement-card article:hover{
    margin-top: 0;
    border-bottom: #0065fc solid;
    transition: .3s ease-out;
    cursor: pointer;
}
.hebergement-zone img{
    height: 100px;
    width: 230px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    border: white solid 4px;
}
.hebergement-info{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.hebergement-info:hover{
    border-bottom: black solid 2px;
    transition: 0.1s ease-out;
}
.hebergement-descrpition{
    padding: 10px;
    height: 60px;
}
.hebergement-descrpition a{
    text-decoration: none;
}
.hebergement-descrpition h3{
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
}
.hebergement-descrpition p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.fa-star{
    font-size: 10px;
    color: #d9d9d9;
}

.populaire{
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 20px;
    padding: 30px;
    width: 55%;
}
.populaire-titre{
    display: flex;
    justify-content: space-between;
}
.populaire-titre i{
    align-self: center;
    font-size: 20px;
}
.populaire-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.populaire-card article{
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 100%;
}
.populaire-card article:hover{
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 0;
    margin-top: 0;
    border-bottom: #0065fc solid;
    transition: .3s ease-out;
    cursor: pointer;
}
.populaire-card img{
    height: 135px;
    width: 120px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    border: white solid 4px;
}
.populaire-description{
    padding: 15px;
    height: 60px;
}
.populaire-description h3{
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
}
.populaire-description a{
    text-decoration: none;
}
.populaire-description p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.blue-star{
    color: #0065fc;
}

/* hebergement */

/* activites */

.activites{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.activites-colonnes{
    display: flex;
}
.activites h2{
    margin-bottom: 20px;
}
.activites-colonnes h3{
    padding-left: 20px;
}

.colonne-1{
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.colonne-1 article:hover{
    box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
    transition: .5s ease-out;
    cursor: pointer;
}
.colonne-1-div{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.colonne-1-activite-card-1{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.colonne-1-activite-card-1 img{
    height: 380px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.colonne-1-activite-card-2{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.colonne-1-activite-card-2 img{
    height: 180px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.colonne-1-activite-card-3{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.colonne-1-activite-card-3 img{
    height: 110px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.colonne-2{
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.colonne-2 article:hover{
    box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
    transition: .5s ease-out;
    cursor: pointer;
}
.colonne-2-div{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.colonne-2-activite-card-1{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.colonne-2-activite-card-1 img{
    height: 380px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.colonne-2-activite-card-2{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.colonne-2-activite-card-2 img{
    height: 145px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.colonne-2-activite-card-3{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.colonne-2-activite-card-3 img{
    height: 145px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/* activites */

/* footer */

.footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-colonne{
    width: 450px;
    display: flex;
    flex-direction: column;
}
.footer a{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.container{
    max-width: 1340px;
    margin: auto;
}

.flex{
    display: flex;
}

/* RESPONSIVE */

@media (max-width:768px) {
    /* header */

    .header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        height: 50px;
        line-height: 50px;
    }

    .navbar{
        height: 50px;
        width: 100%;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .nav-items{
        flex-direction: column-reverse;
    }
    .navbar li{
        border-bottom: solid #f2f2f2 2px;
        width: 100%;
    }
    .navbar li:hover{
        transition: .2s;
        border-top: none;
        border-bottom: solid #0065fc 2px;
    }

    .subscribe{
        align-self: flex-end;
        height: 50px;
        width: 100%;
        line-height: 50px;
    }

    /* header */

    .submit{
        width: 50px;
        border-radius: 15px;
    }

    .submit h3{
        display: none;
    }
    .submit i{
        display: block;
    }

    /* filtre */

    .filtres{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .items{
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;
    }
    .filtre-item{
        margin-bottom: 15px;
    }

    /* filtre */

    /* hebergement */

    .hebergement h2{
        margin-top: 30px;
    }

    .populaire{
        background-color: #f2f2f2;
        border-radius: 0;
        margin-left: 0;
        padding: 0 0 30px 0;
        width: 100%;
    }

    .hebergement{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergement-zone{
        background-color: white;
        border-radius: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
    }
    .hebergement-card article{
        width: 100%;
    }
    .hebergement-zone img{
        width: 100%;
    }

    /* hebergement */

    /* activites */

    .activites{
        padding-bottom: 20px;
        width: 100%;
    }
    .activites-colonnes{
        flex-wrap: wrap;
        width: 100%;
    }
    .colonne-1{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 0;
    }
    .colonne-2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
    }
    .colonne-1-div{
        width: 100%;
    }
    .colonne-2-div{
        width: 100%;
    }

    .colonne-1-activite-card-1{
        height: 185px;
        width: 100%;
        margin-bottom: 20px;
    }
    .colonne-1-activite-card-1 img{
        height: 130px;
        width: 100%;
    }
    .colonne-1-activite-card-2{
        height: 185px;
        width: 100%;
        margin-bottom: 20px;
    }
    .colonne-1-activite-card-2 img{
        height: 130px;
        width: 100%;
    }
    .colonne-1-activite-card-3{
        height: 185px;
        width: 100%;
        margin-bottom: 20px;
    }
    .colonne-1-activite-card-3 img{
        height: 130px;
        width: 100%;
    }
    
    .colonne-2-activite-card-1{
        height: 185px;
        width: 100%;
        margin-bottom: 20px;
    }
    .colonne-2-activite-card-1 img{
        height: 130px;
        width: 100%;
    }
    .colonne-2-activite-card-2{
        height: 185px;
        width: 100%;
        margin-bottom: 20px;
    }
    .colonne-2-activite-card-2 img{
        height: 130px;
        width: 100%;
    }
    .colonne-2-activite-card-3{
        height: 185px;
        width: 100%;
        margin-bottom: 20px;
    }
    .colonne-2-activite-card-3 img{
        height: 130px;
        width: 100%;
    }

    /* activites */

    /* footer */

    .footer{
        width: 100%;
    }
    .footer-colonne{
        width: 100%;
    }

    .container{
        width: 100%;
        flex-wrap:wrap;
        max-width: 90%;
    }
}

@media (min-width:769px) and (max-width:1375px){
    /* hebergement */

    .hebergement h2{
        margin-top: 30px;
    }

    .populaire{
        background-color: #f2f2f2;
        border-radius: 0;
        margin-left: 0;
        padding: 0 0 30px 0;
        width: 100%;
    }
    .populaire-card img{
        width: 40%;
        height: 180px;
    }

    .hebergement{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergement-zone{
        background-color: white;
        border-radius: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
    }
    .hebergement-card article{
        width: 48%;
    }
    .hebergement-zone img{
        width: 100%;
        height: 200px;
    }

    /* hebergement */

    /* activites */

    .activites-colonnes{
        flex-direction: column;
        width: 100%;
    }

    .colonne-1{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    .colonne-1-activite-card-1 {
        width: 48%;
    }
    .colonne-1-activite-card-1 img{
        width: 100%;
    }
    .colonne-1-div{
        width: 48%;
    }
    .colonne-1-activite-card-2 img{
        width: 100%;
    }
    .colonne-1-activite-card-3 img{
        width: 100%;
    }

    .colonne-2{
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
    .colonne-2-activite-card-1 {
        width: 48%;
    }
    .colonne-2-activite-card-1 img{
        width: 100%;
    }
    .colonne-2-div{
        width: 48%;
    }
    .colonne-2-activite-card-2 img{
        width: 100%;
    }
    .colonne-2-activite-card-3 img{
        width: 100%;
    }

    /* activites */

    /* footer */

    .footer{
        width: 100%;
    }
    .footer-colonne{
        width: 30%;
    }

    /* footer */
    
    .container{
        width: 100%;
        max-width: 95%;
    }

}