@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
body{
    margin: 0;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/* En-tête */
.header{
    display: flex;
    max-width: 1340px;
    margin: auto;
}
.nav-items{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.logo{
    height: 100px;
    line-height: 125px;
}
.logo img{
    width: 90px;
}

.navbar{
    width: 300px;
    height: 100px;
    line-height: 100px;
}
.navbar ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1f1f1f;
}
.navbar li a:hover{
    color: #0065fc;
}
.navbar li{
    list-style: none;
    width: 300px;
    text-align: center;
}
.navbar li:hover{
    border-top: solid #0065fc 2px;
}

.suscribe {
    width: 135px;
    height: 100px;
    line-height: 100px;
    display: flex;
}
.suscribe a{
    width: 135px;
    text-align: center;
    color: #0065fc;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
/* En-tête */

.container{
    display: flex;
    max-width: 1340px;
    margin: auto;
}

/* Recherche */
.search h2{
    margin-top: 0;
}

.container-search{
    display: block;
    max-width: 1340px;
    margin: auto;
}

.input{
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
}
.map-logo{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}
.input-text{
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.input-text::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-left: 10px;
}
.submit{
    width: 135px;
    border: none;
    border-radius: 0 15px 15px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #0065fc;
}

.filtres{
    display: flex;
    align-items: center;
}
.filtre-titre{
    padding-left: 10px;
    padding-right: 15px;
}
.items{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 700px;
}
.filtre-item{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 50px;
    border: #d9d9d9 solid 2px;
}
.filtre-item-logo{
    background-color: #deebff;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3px;
}
.filtre-item-logo i{
    color: #0065fc;
}
.filtre-item-titre{
    margin: auto;
}
.filtre-item-titre h3{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.item-economique{
    width: 155px;
}
.item-familial{
    width: 125px;
}
.logo-familial {
    width: 52px;
}
.item-romantique{
    width: 145px;
}
.item-animaux{
    width: 190px;
}

.info{
    display: flex;
    height: 40px;
    line-height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo-info{
    width: 25px;
    height: 25px;
    border: #dbdbdb solid 1px;
    border-radius: 50%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-info i{
    color: #0065fc;
    font-size: 12px;
}
.info p{
    margin: 0;
    padding-left: 10px;
}